<?xml version="1.0" encoding="utf-8"?>
<configuration scan="true" scanPeriod="1 minute">
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>out/easy-ingest-flow.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>out/easy-ingest-flow.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{ISO8601}] %-5level %msg%n</pattern>
        </encoder>
    </appender>
    <root level="warn">
        <appender-ref ref="FILE" />
    </root>
    <logger name="nl.knaw.dans.easy" level="trace" />
</configuration>
